//Primary Color:
$global-color: white;
$global-text: black;

//Secondary Color
$background-color: #f2a786;
$background-color-lighter: #faf7ee; //Footer & Header bckg
$background-color-body: #e5e5e5; //Body background
$btn-color: #258c80;
