@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

