@use "../../styles/partials/colors" as *;

.hero {
  background-color: #f2a786;
  padding-top: 20px;
  height: 35.25rem;
  &__title {
    font-size: 2.5rem;

    padding-bottom: 2.9375rem;
    font-weight: 500;
    line-height: 60px;
  }
  &__title-container {
    text-align: left;
    margin-left: 10.625rem;
  }

  &__images {
    display: flex;
    justify-content: center;
    column-gap: 0.625rem;
  }
  &__image {
    height: 21rem;
    width: 21rem;
  }
}
