@use "../../styles/partials/colors" as *;

.header {
  background-color: #faf7ee;
  padding-bottom: 1.25rem;

  &__shopifyIcon-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.25rem;
    margin-top: 0.9375rem;
    margin-left: 2.5rem;
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
  }
  &__shopifyIcon {
    display: flex;
    align-items: center;
    width: 6.25rem;
    height: 1.875rem;
  }
  &__section {
    display: flex;
    justify-content: flex-end;
  }
  &__logo {
    display: flex;
  }
  &__list {
    list-style: none;
    display: flex;
    column-gap: 3.125rem;
    margin-right: 1.25rem;
    margin-top: 20px;
  }
  &__input {
    margin-top: 1.25rem;
    height: 2.8125rem;
    width: 20.625rem;
    padding: 10px;
    &--searchIcon {
      position: absolute;
      right: 18.75rem;
      top: 2.25rem;
    }
  }

  &__inputcontainer {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}

.nav {
  &__list {
    padding-top: 2.25rem;
    display: flex;
    list-style: none;
    column-gap: 30px;
  }
}
